<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>Error: {{ .Meta.Title }}</title>
    <meta name="description" content="{{ .Meta.Description }}">
  </head>
  <body>
    <nav>
    </nav>
    <main>
      <h1>Error {{ .StatusCode }}</h1>
      <h2>Something went wrong</h2>
      <div>
	{{ .ErrorMessage }}
      </div>
    </main>
  </body>
</html>
